meta content=("text/html; charset=UTF-8") http-equiv="Content-Type"
base href=""
meta charset="utf-8"
title Taxsam LMS v3
= csrf_meta_tags
= csp_meta_tag
= analytics_init if GoogleAnalytics.valid_tracker?